@model KonoFandom.ViewModels.CardIndex

@{
    ViewData["Title"] = "Cards";
    var elements = Model.Elements;
    var rarity = Model.Cards
        .Select(x => new { x.Rarity, x.RarityImagePath })
        .Distinct()
        .OrderBy(x => x.Rarity)
        .ToList();
}
<div class="main-content">
    <div class="container">
        <div id="card-content">
            <div class="character-checkbox-filter">
                <div id="character-filter-header" class="sub-title text-white">
                    <h3>Characters</h3>
                </div>
                <div id="character-filter-item">
                    @foreach (var character in Model.Characters)
                    {
                        <input type="checkbox" id="chara_@character.CharacterID" name="chara_group" value="@character.CharacterID" />
                        <label for="chara_@character.CharacterID">
                            <img src="~/assets/chara_icon/@(character.Name.ToLower()).jpg" class="img-fluid" />
                        </label>
                    }
                </div>
            </div>
            <div class="element-checkbox-filter">
                <div id="element-filter-header" class="sub-title text-white">
                    <h3>Elements</h3>
                </div>
                <div id="element-filter-item">
                    @foreach (var e in elements)
                    {
                        <input type="checkbox" id="ele_@e.ElementID" name="ele_group" value="@e.Name" />
                        <label for="ele_@e.ElementID">
                            <img src="@e.ImagePath" class="img-fluid mx-auto d-block" />
                        </label>
                    }
                </div>
            </div>
            <div class="rarity-checkbox-filter">
                <div id="rarity-filter-header" class="sub-title text-white">
                    <h3>Rarity</h3>
                </div>
                <div id="rarity-filter-item">
                    @foreach (var r in rarity)
                    {
                        <input type="checkbox" id="rarity_@r.Rarity" name="rarity_group" value="@r.Rarity" />
                        <label for="rarity_@r.Rarity">
                            <img src="@r.RarityImagePath" class="img-fluid" />
                        </label>
                    }
                </div>
            </div>
            <div id="card-table">
                <table class="display text-center table-responsive" id="sortableTable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Name)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().CardElements.FirstOrDefault().Element)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Rarity)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().HealthPoints)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().PhysicalAttack)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().MagicAttack)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().PhysicalDefense)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().MagicDefense)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Agility)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Dexterity)</th>
                            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Luck)</th>

                            @for (int i = 0; i < 4; i++)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var card in Model.Cards.OrderByDescending(c => c.Rarity).ThenBy(c => c.CharacterID))
                        {
                            <tr data-chara="@card.CharacterID" data-rarity="@card.Rarity">
                                <td><img src=@card.ImagePath class="img-fluid">@card.Name</td>
                                @foreach (var e in card.CardElements)
                                {
                                    <td>@e.Element.Name</td>
                                }

                                <td data-sort=@card.Rarity>
                                    <img src=@card.RarityImagePath class="img-fluid" />
                                </td>
                                <td>@card.HealthPoints</td>
                                <td>@card.PhysicalAttack</td>
                                <td>@card.MagicAttack</td>
                                <td>@card.PhysicalDefense</td>
                                <td>@card.MagicDefense</td>
                                <td>@card.Agility</td>
                                <td>@card.Dexterity</td>
                                <td>@card.Luck</td>

                                @foreach (var s in card.CardBasicSkills)
                                {
                                    <td>
                                        <img src=@s.BasicSkill.ImagePath data-toggle="tooltip"
                                             data-placement="bottom" title="@s.BasicSkill.Description"
                                             class="img-fluid" />
                                    </td>
                                }
                                @if (card.PassiveSkill != null)
                                {
                                    <td>
                                        <img src=@card.PassiveSkill.ImagePath data-toggle="tooltip"
                                             data-placement="bottom" title="@card.PassiveSkill.Description"
                                             class="img-fluid" />
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
