@model KonoFandom.ViewModels.CardIndex

@{
    ViewData["Title"] = "Cards";
    var elements = Model.Elements;
    var rarity = Model.Cards
        .Select(x => new { x.Rarity, x.RarityImagePath })
        .Distinct()
        .OrderBy(x => x.Rarity)
        .ToList();
}

<div class="character-checkbox-filter">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>Characters</p>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var character in Model.Characters)
            {
                <div class="col-2">
                    <input type="checkbox" id="chara_@character.CharacterID" name="chara_group" value="@character.CharacterID" />
                    <label for="chara_@character.CharacterID">
                        <img src="~/assets/chara_icon/@(character.Name.ToLower()).jpg" class="img-fluid" />
                    </label>
                </div>

            }
        </div>
    </div>
</div>
<div class="element-checkbox-filter">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>Elements</p>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var e in elements)
            {
                <div class="col">
                    <input type="checkbox" id="ele_@e.ElementID" name="ele_group" value="@e.Name" />
                    <label for="ele_@e.ElementID">
                        <img src="@e.ImagePath" class="img-fluid" />
                    </label>
                </div>
            }
        </div>
    </div>
</div>
<div class="rarity-checkbox-filter">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>Rarity</p>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var r in rarity)
            {
                <div class="col-2">
                    <input type="checkbox" id="rarity_@r.Rarity" name="rarity_group" value="@r.Rarity" />
                    <label for="rarity_@r.Rarity">
                        <img src="@r.RarityImagePath" class="img-fluid" />
                    </label>
                </div>
            }
        </div>
    </div>
</div>
<table class="display text-center w-100 table-responsive" id="sortableTable">
    <thead>
        <tr>
            <th colspan="3"></th>
            <th colspan="8">Stats</th>
            <th colspan="7">Resistance</th>
            <th colspan="4">Skills</th>
        </tr>
        <tr>
            <th width="12%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Name)</th>
            <th width="4%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().CardElements.FirstOrDefault().Element)</th>
            <th width="4%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Rarity)</th>
            <th width="3%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().HealthPoints)</th>
            <th width="3%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().PhysicalAttack)</th>
            <th width="3%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().MagicAttack)</th>
            <th width="3%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().PhysicalDefense)</th>
            <th width="3%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().MagicDefense)</th>
            <th width="3%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Agility)</th>
            <th width="3%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Dexterity)</th>
            <th width="3%">@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Luck)</th>

            @foreach (var e in elements)
            {
                <th width="4%"><img src=@e.ImagePath style="width:70%"></th>
            }

            @for (int i = 0; i < 4; i++)
            {
                <th width="6%"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Cards.OrderByDescending(c => c.Rarity).ThenBy(c => c.CharacterID))
        {
            <tr data-chara="@card.CharacterID" data-rarity="@card.Rarity">
                <td><img src=@card.ImagePath class="img-fluid">@card.Name</td>
                @foreach (var e in card.CardElements)
                {
                    <td>@e.Element.Name</td>
                }

                <td data-sort=@card.Rarity>
                    <img src=@card.RarityImagePath class="img-fluid" />
                </td>
                <td>@card.HealthPoints</td>
                <td>@card.PhysicalAttack</td>
                <td>@card.MagicAttack</td>
                <td>@card.PhysicalDefense</td>
                <td>@card.MagicDefense</td>
                <td>@card.Agility</td>
                <td>@card.Dexterity</td>
                <td>@card.Luck</td>
                <td>@Html.DisplayFor(x => card.FireResistance)</td>
                <td>@Html.DisplayFor(x => card.WaterResistance)</td>
                <td>@Html.DisplayFor(x => card.LightningResistance)</td>
                <td>@Html.DisplayFor(x => card.EarthResistance)</td>
                <td>@Html.DisplayFor(x => card.WindResistance)</td>
                <td>@Html.DisplayFor(x => card.LightResistance)</td>
                <td>@Html.DisplayFor(x => card.DarkResistance)</td>

                <!-- temp variable c -->
                @{var c = 0;}
                @foreach (var s in card.CardBasicSkills)
                {
                    <td>
                        <img src=@s.BasicSkill.ImagePath data-toggle="tooltip"
                             data-placement="bottom" title="@s.BasicSkill.Description"
                             class="img-fluid" />
                    </td>
                    c++;
                }

                @for (; c < 4; c++)
                {
                    <td>
                        <img src=@card.PassiveSkill.ImagePath data-toggle="tooltip"
                             data-placement="bottom" title="@card.PassiveSkill.Description"
                             class="img-fluid" />
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
