@model KonoFandom.ViewModels.CardIndex

@{
    ViewData["Title"] = "Cards";
}

<h1>Card List</h1>

<div class="character-checkbox-filter">
    @foreach (var character in Model.Characters)
    {
        <input type="checkbox" id="chara_@character.CharacterID" name="chara_group" value="@character.CharacterID"/>
        <label for="chara_@character.CharacterID">@character.Name</label> // Replace text with image
    }
</div>
<p>-----------------</p>
<div class="element-checkbox-filter">
    @foreach (var element in Model.Elements)
    {
        <input type="checkbox" id="ele_@element.ElementID" name="ele_group" value="@element.Name"/>
        <label for="ele_@element.ElementID">@element.Name</label>// Replace text with image
    }
</div>

<table class="display" id="sortableTable">
    <thead>
        <tr>
            <th colspan="3"></th>
            <th colspan="8">Stats</th>
            <th colspan="7">Resistance</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Element</th>
            <th>Rarity</th>
            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().HealthPoints)</th>
            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().PhysicalAttack)</th>
            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().MagicAttack)</th>
            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().PhysicalDefense)</th>
            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().MagicDefense)</th>
            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Agility)</th>
            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Dexterity)</th>
            <th>@Html.DisplayNameFor(x => x.Cards.FirstOrDefault().Luck)</th>
            @foreach (var element in Model.Elements)
            {
                <th><img src=@element.ImagePath style="width:70%"></th>
            }
            <th>Skills</th>
            <th>Passive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Cards.OrderByDescending(c => c.Rarity).ThenBy(c => c.CharacterID))
        {
            <tr data-chara="@card.CharacterID">
                <td><img src=@card.ImagePath class="img-fluid"> @card.Name</td>
                @foreach (var e in card.CardElements)
                {
                    <td>@e.Element.Name</td>
                }

                <td>@card.Rarity</td>
                <td>@card.HealthPoints</td>
                <td>@card.PhysicalAttack</td>
                <td>@card.MagicAttack</td>
                <td>@card.PhysicalDefense</td>
                <td>@card.MagicDefense</td>
                <td>@card.Agility</td>
                <td>@card.Dexterity</td>
                <td>@card.Luck</td>
                <td>@Html.DisplayFor(x => card.FireResistance)</td>
                <td>@Html.DisplayFor(x => card.WaterResistance)</td>
                <td>@Html.DisplayFor(x => card.LightningResistance)</td>
                <td>@Html.DisplayFor(x => card.EarthResistance)</td>
                <td>@Html.DisplayFor(x => card.WindResistance)</td>
                <td>@Html.DisplayFor(x => card.LightResistance)</td>
                <td>@Html.DisplayFor(x => card.DarkResistance)</td>
                @foreach (var s in card.CardBasicSkills)
                {
                    <td><img src=@s.BasicSkill.ImagePath class="img-fluid"></td>
                }
                <td><img src=@card.PassiveSkill.ImagePath class="img-fluid"></td>
            </tr>
        }
    </tbody>
</table>