@model KonoFandom.Models.AllViewModel

@{
    ViewData["Title"] = "Admin";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Role)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users != null)
        {
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Characters</h1>

<p>
    <a asp-area="" asp-controller="Characters" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Characters.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters.FirstOrDefault().Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters.FirstOrDefault().IconImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters.FirstOrDefault().CharacterImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters.FirstOrDefault().Weapon)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Characters != null)
        {
            @foreach (var item in Model.Characters.OrderBy(c => c.CharacterID))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Biography)
                    </td>
                    <td>
                        <img src=@Html.DisplayFor(modelItem => item.IconImagePath) width="112" height="128">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CharacterImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weapon)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Characters" asp-action="Edit" asp-route-id="@item.CharacterID">Edit</a> |
                        <a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@item.CharacterID">Details</a> |
                        <a asp-area="" asp-controller="Characters" asp-action="Delete" asp-route-id="@item.CharacterID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Cards</h1>

<p>
    <a asp-area="" asp-controller="Cards" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().Character)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Cards != null)
        {
            @foreach (var item in Model.Cards)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rarity)
                    </td>
                    <td>
                        <img src=@Html.DisplayFor(modelItem => item.ImagePath)>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Character.CharacterID)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Cards" asp-action="Edit" asp-route-id="@item.CardID">Edit</a> |
                        <a asp-area="" asp-controller="Cards" asp-action="Details" asp-route-id="@item.CardID">Details</a> |
                        <a asp-area="" asp-controller="Cards" asp-action="Delete" asp-route-id="@item.CardID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Basic Skills</h1>

<p>
    <a asp-area="" asp-controller="BasicSkills" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasicSkills.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSkills.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSkills.FirstOrDefault().ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BasicSkills != null)
        {
            @foreach (var item in Model.BasicSkills)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuffEffectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DebuffEffectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="BasicSkills" asp-action="Edit" asp-route-id="@item.SkillID">Edit</a> |
                        <a asp-area="" asp-controller="BasicSkills" asp-action="Details" asp-route-id="@item.SkillID">Details</a> |
                        <a asp-area="" asp-controller="BasicSkills" asp-action="Delete" asp-route-id="@item.SkillID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Passive Skills</h1>

<p>
    <a asp-area="" asp-controller="PassiveSkills" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasicSkills.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSkills.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSkills.FirstOrDefault().ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PassiveSkills != null)
        {
            @foreach (var item in Model.PassiveSkills)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="PassiveSkills" asp-action="Edit" asp-route-id="@item.SkillID">Edit</a> |
                        <a asp-area="" asp-controller="PassiveSkills" asp-action="Details" asp-route-id="@item.SkillID">Details</a> |
                        <a asp-area="" asp-controller="PassiveSkills" asp-action="Delete" asp-route-id="@item.SkillID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Ultimate Skills</h1>

<p>
    <a asp-area="" asp-controller="UltimateSkills" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UltimateSkills.FirstOrDefault().Character)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimateSkills.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimateSkills.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimateSkills.FirstOrDefault().ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PassiveSkills != null)
        {
            @foreach (var item in Model.UltimateSkills)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Character.CharacterID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="UltimateSkills" asp-action="Edit" asp-route-id="@item.SkillID">Edit</a> |
                        <a asp-area="" asp-controller="UltimateSkills" asp-action="Details" asp-route-id="@item.SkillID">Details</a> |
                        <a asp-area="" asp-controller="UltimateSkills" asp-action="Delete" asp-route-id="@item.SkillID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Buff Effects</h1>

<p>
    <a asp-area="" asp-controller="BuffEffects" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuffEffects.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuffEffects.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuffEffects.FirstOrDefault().ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BuffEffects != null)
        {
            @foreach (var item in Model.BuffEffects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="BuffEffects" asp-action="Edit" asp-route-id="@item.EffectID">Edit</a> |
                        <a asp-area="" asp-controller="BuffEffects" asp-action="Details" asp-route-id="@item.EffectID">Details</a> |
                        <a asp-area="" asp-controller="BuffEffects" asp-action="Delete" asp-route-id="@item.EffectID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Debuff Effects</h1>

<p>
    <a asp-area="" asp-controller="DebuffEffects" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DebuffEffects.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebuffEffects.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebuffEffects.FirstOrDefault().ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DebuffEffects != null)
            @foreach (var item in Model.DebuffEffects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="DebuffEffects" asp-action="Edit" asp-route-id="@item.EffectID">Edit</a> |
                        <a asp-area="" asp-controller="DebuffEffects" asp-action="Details" asp-route-id="@item.EffectID">Details</a> |
                        <a asp-area="" asp-controller="DebuffEffects" asp-action="Delete" asp-route-id="@item.EffectID">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

<h1>Status Effects</h1>

<p>
    <a asp-area="" asp-controller="StatusEffects" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusEffects.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusEffects.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusEffects.FirstOrDefault().ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.StatusEffects != null)
        {
            @foreach (var item in Model.StatusEffects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="StatusEffects" asp-action="Edit" asp-route-id="@item.EffectID">Edit</a> |
                        <a asp-area="" asp-controller="StatusEffects" asp-action="Details" asp-route-id="@item.EffectID">Details</a> |
                        <a asp-area="" asp-controller="StatusEffects" asp-action="Delete" asp-route-id="@item.EffectID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Elements</h1>

<p>
    <a asp-area="" asp-controller="Elements" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Elements.FirstOrDefault().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elements.FirstOrDefault().ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Elements != null)
        {

            @foreach (var item in Model.Elements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Elements" asp-action="Edit" asp-route-id="@item.ElementID">Edit</a> |
                        <a asp-area="" asp-controller="Elements" asp-action="Details" asp-route-id="@item.ElementID">Details</a> |
                        <a asp-area="" asp-controller="Elements" asp-action="Delete" asp-route-id="@item.ElementID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
