@*@model KonoFandom.Models.Card*@
@model KonoFandom.Areas.Admin.ViewModels.CreateCardViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Card.Name" class="control-label"></label>
                <input asp-for="@Model.Card.Name" class="form-control" />
                <span asp-validation-for="@Model.Card.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Rarity" class="control-label"></label>
                <input asp-for="@Model.Card.Rarity" class="form-control" min="1" max="4" />
                <span asp-validation-for="@Model.Card.Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.RarityImagePath" class="control-label"></label>
                <input asp-for="@Model.Card.RarityImagePath" class="form-control" />
                <span asp-validation-for="@Model.Card.RarityImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Weapon" class="control-label"></label>
                <select asp-for="@Model.Card.Weapon" asp-items="Html.GetEnumSelectList<Weapon>()" class="form-control"></select>
                <span asp-validation-for="@Model.Card.Weapon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.ImagePath" class="control-label"></label>
                <input asp-for="@Model.Card.ImagePath" class="form-control" />
                <span asp-validation-for="@Model.Card.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.CharacterID" class="control-label"></label>
                <select asp-for="@Model.Card.CharacterID" class="form-control" asp-items="ViewBag.CharacterID"></select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.PassiveSkillID" class="control-label"></label>
                <input asp-for="@Model.Card.PassiveSkillID" class="form-control" type="hidden" />
                <div id="passive-skill" style="width: 100px; height: 100px; border:1px solid black;"></div>
                <span asp-validation-for="@Model.Card.PassiveSkillID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.CardBasicSkills" class="control-label"></label>
                <input asp-for="@Model.Card.CardBasicSkills" class="form-control" type="hidden" />
                <div id="basic-one" style="width: 100px; height: 100px; border:1px solid black;"></div>
                <span asp-validation-for="@Model.Card.CardBasicSkills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.CardBasicSkills" class="control-label"></label>
                <input asp-for="@Model.Card.CardBasicSkills" class="form-control" type="hidden" />
                <div id="basic-two" style="width: 100px; height: 100px; border:1px solid black;"></div>
                <span asp-validation-for="@Model.Card.CardBasicSkills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.CardBasicSkills" class="control-label"></label>
                <input asp-for="@Model.Card.CardBasicSkills" class="form-control" type="hidden" />
                <div id="basic-three" style="width: 100px; height: 100px; border:1px solid black;"></div>
                <span asp-validation-for="@Model.Card.CardBasicSkills" class="text-danger"></span>
            </div>

            <h3>Stats</h3>
            <div class="form-group">
                <label asp-for="@Model.Card.HealthPoints" class="control-label"></label>
                <input asp-for="@Model.Card.HealthPoints" class="form-control" />
                <span asp-validation-for="@Model.Card.HealthPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.PhysicalAttack" class="control-label"></label>
                <input asp-for="@Model.Card.PhysicalAttack" class="form-control" />
                <span asp-validation-for="@Model.Card.PhysicalAttack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.MagicAttack" class="control-label"></label>
                <input asp-for="@Model.Card.MagicAttack" class="form-control" />
                <span asp-validation-for="@Model.Card.MagicAttack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.PhysicalDefense" class="control-label"></label>
                <input asp-for="@Model.Card.PhysicalDefense" class="form-control" />
                <span asp-validation-for="@Model.Card.PhysicalDefense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.MagicDefense" class="control-label"></label>
                <input asp-for="@Model.Card.MagicDefense" class="form-control" />
                <span asp-validation-for="@Model.Card.MagicDefense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Agility" class="control-label"></label>
                <input asp-for="@Model.Card.Agility" class="form-control" />
                <span asp-validation-for="@Model.Card.Agility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Dexterity" class="control-label"></label>
                <input asp-for="@Model.Card.Dexterity" class="form-control" />
                <span asp-validation-for="@Model.Card.Dexterity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Luck" class="control-label"></label>
                <input asp-for="@Model.Card.Luck" class="form-control" />
                <span asp-validation-for="@Model.Card.Luck" class="text-danger"></span>
            </div>
            <h3>Resistances</h3>
            <div class="form-group">
                <label asp-for="@Model.Card.FireResistance" class="control-label"></label>
                <input asp-for="@Model.Card.FireResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.FireResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.WaterResistance" class="control-label"></label>
                <input asp-for="@Model.Card.WaterResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.WaterResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.LightningResistance" class="control-label"></label>
                <input asp-for="@Model.Card.LightningResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.LightningResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.EarthResistance" class="control-label"></label>
                <input asp-for="@Model.Card.EarthResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.EarthResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.WindResistance" class="control-label"></label>
                <input asp-for="@Model.Card.WindResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.WindResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.LightResistance" class="control-label"></label>
                <input asp-for="@Model.Card.LightResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.LightResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.DarkResistance" class="control-label"></label>
                <input asp-for="@Model.Card.DarkResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.DarkResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table class="table table-borderless">
                    <tr>
                        @{
                            int count = 0;
                            List<KonoFandom.Models.AssignedElementData> elements = ViewBag.Elements;
                            if (elements != null)
                            {
                                foreach (var element in elements)
                                {
                                    if (count++ % 5 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox" name="selectedElements" value="@element.ElementID"
                                               @(Html.Raw(element.Assigned ? "checked=\"checked\"" : "")) />
                                        @element.ElementID @: @element.Type
                                    @:</td>
                                }
                            @:</tr>
                        }
                        }
                    </table>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    <div class="col-md-4">
    @{
        var passives = Model.PassiveSkills;
        var basics = Model.BasicSkills;
        <div id="passive-skill-gallery">
            @foreach (var item in passives) // Sort in controller
            {
                <img style="width: 100px" src=@item.ImagePath data-name="@item.Name"
                    id="@item.SkillID" title="@item.Description">
            }
        </div>
        <hr />
        <div id="basic-skill-gallery">
            @foreach (var item in basics) // Sort in controller
            {
                <img style="width: 100px" src=@item.ImagePath data-name="@item.Name"
                     id="@item.SkillID" title="@item.Description">
            }
        </div>
    }
    </div>
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
