@model KonoFandom.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RarityImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RarityImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weapon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weapon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.CharacterID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassiveSkill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassiveSkill.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HealthPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HealthPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalAttack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalAttack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MagicAttack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MagicAttack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalDefense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicalDefense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MagicDefense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MagicDefense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dexterity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Luck)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Luck)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FireResistance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FireResistance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterResistance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterResistance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LightningResistance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LightningResistance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EarthResistance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EarthResistance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WindResistance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WindResistance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LightResistance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LightResistance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DarkResistance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DarkResistance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CardID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
