@model KonoFandom.Areas.Admin.ViewModels.CharacterViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Card.CardID" />
            <div class="form-group">
                <label asp-for="@Model.Card.Name" class="control-label"></label>
                <input asp-for="@Model.Card.Name" class="form-control" />
                <span asp-validation-for="@Model.Card.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Rarity" class="control-label"></label>
                <input asp-for="@Model.Card.Rarity" class="form-control" />
                <span asp-validation-for="@Model.Card.Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.RarityImagePath" class="control-label"></label>
                <input asp-for="@Model.Card.RarityImagePath" class="form-control" />
                <span asp-validation-for="@Model.Card.RarityImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Weapon" class="control-label"></label>
                <select asp-for="@Model.Card.Weapon" asp-items="Html.GetEnumSelectList<Weapon>()" class="form-control"></select>
                <span asp-validation-for="@Model.Card.Weapon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.ImagePath" class="control-label"></label>
                <input asp-for="@Model.Card.ImagePath" class="form-control" />
                <span asp-validation-for="@Model.Card.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.CharacterID" class="control-label"></label>
                <select asp-for="@Model.Card.CharacterID" class="form-control" asp-items="ViewBag.CharacterID"></select>
                <span asp-validation-for="@Model.Card.CharacterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.PassiveSkillID" class="control-label"></label>
                <input asp-for="@Model.Card.PassiveSkillID" class="control-label" type="hidden" />
                <div id="passive-skill" style="width: 100px; height: 100px; border:1px solid black;">
                    <img style="width: 100px" src="@Model.Card.PassiveSkill.ImagePath" data-name="@Model.Card.PassiveSkill.Name"
                         id="@Model.Card.PassiveSkillID" title="@Model.Card.PassiveSkill.Description">
                </div>
                <span asp-validation-for="@Model.Card.PassiveSkillID" class="text-danger"></span>
            </div>
            @{ 
                var count = 0;
                string[] id = { "basic-one", "basic-two", "basic-three" };
                foreach (var item in Model.Card.CardBasicSkills)
                {
                    <div class="form-group">
                        <label asp-for="@Model.Card.CardBasicSkills" class="control-label"></label>
                        <input asp-for="@item.BasicSkill.SkillID" class="form-control" type="hidden" name="selectedSkills" />
                        <div id="@id[count]" style="width: 100px; height: 100px; border:1px solid black;">
                            <img style="width: 100px" src="@item.BasicSkill.ImagePath"
                                 data-name="@item.BasicSkill.Name"
                                 id="@item.BasicSkill.SkillID"
                                 title="@item.BasicSkill.Description">
                        </div>
                        <span asp-validation-for="@item.BasicSkill.SkillID" class="text-danger"></span>
                    </div>
                    count++;
                }
            }

            <h3>Stats</h3>
            <div class="form-group">
                <label asp-for="@Model.Card.HealthPoints" class="control-label"></label>
                <input asp-for="@Model.Card.HealthPoints" class="form-control" />
                <span asp-validation-for="@Model.Card.HealthPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.PhysicalAttack" class="control-label"></label>
                <input asp-for="@Model.Card.PhysicalAttack" class="form-control" />
                <span asp-validation-for="@Model.Card.PhysicalAttack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.MagicAttack" class="control-label"></label>
                <input asp-for="@Model.Card.MagicAttack" class="form-control" />
                <span asp-validation-for="@Model.Card.MagicAttack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.PhysicalDefense" class="control-label"></label>
                <input asp-for="@Model.Card.PhysicalDefense" class="form-control" />
                <span asp-validation-for="@Model.Card.PhysicalDefense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.MagicDefense" class="control-label"></label>
                <input asp-for="@Model.Card.MagicDefense" class="form-control" />
                <span asp-validation-for="@Model.Card.MagicDefense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Agility" class="control-label"></label>
                <input asp-for="@Model.Card.Agility" class="form-control" />
                <span asp-validation-for="@Model.Card.Agility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Dexterity" class="control-label"></label>
                <input asp-for="@Model.Card.Dexterity" class="form-control" />
                <span asp-validation-for="@Model.Card.Dexterity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.Luck" class="control-label"></label>
                <input asp-for="@Model.Card.Luck" class="form-control" />
                <span asp-validation-for="@Model.Card.Luck" class="text-danger"></span>
            </div>
            <h3>Resistances</h3>
            <div class="form-group">
                <label asp-for="@Model.Card.FireResistance" class="control-label"></label>
                <input asp-for="@Model.Card.FireResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.FireResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.WaterResistance" class="control-label"></label>
                <input asp-for="@Model.Card.WaterResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.WaterResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.LightningResistance" class="control-label"></label>
                <input asp-for="@Model.Card.LightningResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.LightningResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.EarthResistance" class="control-label"></label>
                <input asp-for="@Model.Card.EarthResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.EarthResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.WindResistance" class="control-label"></label>
                <input asp-for="@Model.Card.WindResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.WindResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.LightResistance" class="control-label"></label>
                <input asp-for="@Model.Card.LightResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.LightResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Card.DarkResistance" class="control-label"></label>
                <input asp-for="@Model.Card.DarkResistance" class="form-control" />
                <span asp-validation-for="@Model.Card.DarkResistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table class="table table-borderless">
                    <tr>
                        @{
                            var counter = 0;
                            List<KonoFandom.Models.AssignedElementData> elements = ViewBag.Elements;
                            if (elements != null)
                            {
                                foreach (var element in elements)
                                {
                                    if (counter++ % 5 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox" name="selectedElements" value="@element.ElementID"
                                               @(Html.Raw(element.Assigned ? "checked=\"checked\"" : "")) />
                                        @element.ElementID @: @element.Type
                                    @:</td>
                                }
                            @:</tr>
                        }
                        }
                    </table>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-4">
            @{
                var passives = Model.PassiveSkills;
                var basics = Model.BasicSkills;
                <div id="passive-skill-gallery">
                    @foreach (var item in passives)
                    {
                        if (item.SkillID != @Model.Card.PassiveSkillID)
                        {
                            <img style="width: 100px" src=@item.ImagePath data-name="@item.Name"
                                id="@item.SkillID" title="@item.Description">
                        }
                    }
                </div>
                <hr />
                <div id="basic-skill-gallery">
                    @foreach (var item in basics)
                    {
                        if (@Model.Card.CardBasicSkills.All(x => x.BasicSkillID != item.SkillID))
                        {
                            <img style="width: 100px" src=@item.ImagePath data-name="@item.Name"
                                 id="@item.SkillID" title="@item.Description">
                        }
                    }
                </div>
            }
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
