@model KonoFandom.Models.Character

@{
    ViewData["Title"] = "Details";
}

<div class="container align-content-center">
    <div class="row">
        <div class="col-6">
            <div class="row mb-4">
                <div class="col-12">
                    <h1>@Html.DisplayFor(model => model.Name)</h1>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <h5>@Html.DisplayNameFor(model => model.Biography)</h5>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <p>@Html.DisplayFor(model => model.Biography)</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <h5>@Html.DisplayNameFor(model => model.Weapon)</h5>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <p>@Html.DisplayFor(model => model.Weapon)</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 text-center border border-bottom-0">
                            <h5>@Html.DisplayNameFor(model => model.UltimateSkill) - @Html.DisplayFor(model => model.UltimateSkill.Name)</h5>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4 border border-right-0">
                            <img src=@Html.DisplayFor(model => model.UltimateSkill.ImagePath) class="img-fluid mx-auto d-block">
                        </div>
                        <div class="col-8 border">
                            <p>@Html.DisplayFor(model => model.UltimateSkill.Description)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <img src=@Html.DisplayFor(model => model.CharacterImagePath) class="img-fluid mx-auto d-block">
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <h1>Cards</h1>
        </div>
        @{
            if (Model.Cards != null)
            {
                int count = 0;

                foreach (var item in Model.Cards.OrderByDescending(c => c.Rarity))
                {
                    @if (count++ % 4 == 0)
                    {
                        <div class="w-100 d-none d-md-block"></div>
                    }
                    <div class="col-3">
                        <a asp-area="" asp-controller="Cards" asp-action="Details" asp-route-id="@item.CardID">
                            <img src=@Html.DisplayFor(modelItem => item.ImagePath) class="img-fluid" alt="@item.Name">
                        </a>
                    </div>
                }
            }
        }
    </div>
</div>