@model KonoFandom.ViewModels.CharacterDetails
@{
    ViewData["Title"] = "Details";
    var cardByRarity = Model.Character.Cards.OrderByDescending(c => c.Rarity);
    var name = @Html.DisplayFor(model => model.Character.Name).ToString().ToLower();
}

<div class="main-content">
    <div class="container">
        <div id="dp-body">
            <!-- Character Navigation Carousel -->
            <div id="character-nav" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    @{
                        var i = 0;
                        while (i < Model.Characters.Count())
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @do
                                    {
                                        <div class="col-2">
                                            <a asp-area="GameData" asp-controller="Characters" asp-action="Details" asp-route-id=" @Model.Characters.ElementAt(i).CharacterID">
                                                <img src=@Model.Characters.ElementAt(i).IconImagePath class="img-fluid" alt=" @Model.Characters.ElementAt(i).Name">
                                            </a>
                                        </div>
                                        i++;
                                    } while (i % 6 != 0 && i < Model.Characters.Count());
                                </div>
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#character-nav" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#character-nav" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- Character Content -->
            <div id="character-@Model.Character.Name.ToString().ToLower()"></div>
            <div id="character-header" class="sub-title text-white">
                <h3>@Html.DisplayFor(model => model.Character.Name)</h3>
            </div>
            <div id="biography">
                <p id="cv-tag">Character Voice</p>
                <p id="cv">@Html.DisplayFor(model => model.Character.CharacterVoice)</p>
                <p id="birthdate-tag">Birthday</p>
                <p id="birthdate">@Html.DisplayFor(model => model.Character.Birthday)</p>
                <div id="about">
                    <hr class="dotted-line">
                    <p>@Html.DisplayFor(model => model.Character.Biography)</p>
                </div>
            </div>
            <div id="skill-header" class="sub-title text-white">
                <h3>@Html.DisplayNameFor(model => model.Character.UltimateSkill)</h3>
            </div>
            <div id="skill-list">
                <div class="skill-item">
                    <p class="skill-name">
                        @Html.DisplayFor(model => model.Character.UltimateSkill.Name)
                    </p>
                    <p class="skill-desc">
                        @Html.DisplayFor(model => model.Character.UltimateSkill.Description)
                    </p>
                    <img src=@Html.DisplayFor(model => model.Character.UltimateSkill.ImagePath) class="skill-img img-fluid d-block mx-auto">
                </div>
                <div class="skill-item">
                    <p class="skill-name">
                        @Html.DisplayFor(model => model.Character.UltimateSkill.Name)
                    </p>
                    <p class="skill-desc">
                        @Html.DisplayFor(model => model.Character.UltimateSkill.Description)
                    </p>
                    <img src=@Html.DisplayFor(model => model.Character.UltimateSkill.ImagePath) class="skill-img img-fluid d-block mx-auto">

                </div>
            </div>



            <!-- Card Content -->
            <div id="card-gallery" class="row" data-toggle="modal" data-target="#cardModal">
                @{
                    if (Model.Character.Cards != null)
                    {
                        int count = 0;

                        foreach (var item in cardByRarity)
                        {
                            @if (count % 4 == 0 && count != 0)
                            {
                            @:</div>
                            @:<div class="row">
                            }
                            <div class="col-3">
                                <img src=@item.ImagePath class="img-fluid" data-target="#cardCarousel" data-slide-to="@count" alt="@item.Name">
                            </div>
                            count++;
                        }
                    }
                }
            </div>

            <!-- Card Modal -->
            <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="cardCarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    @foreach (var card in cardByRarity)
                                    {
                                        <div class="carousel-item @(cardByRarity.FirstOrDefault() == card ? "active" : "")">
                                            <div class="container text-center">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span> @card.Name </span>
                                                        <img src=@card.ImagePath class="img-fluid" />
                                                    </div>
                                                    <div class="col-7">
                                                        <table class="table-bordered w-100">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="4">
                                                                        Stats
                                                                    </th>
                                                                    <th colspan="4">
                                                                        Resistances
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayNameFor(modelItem => card.HealthPoints)
                                                                    </td>
                                                                    <td>
                                                                        @card.HealthPoints
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayNameFor(modelItem => card.Agility)
                                                                    </td>
                                                                    <td>
                                                                        @card.Agility
                                                                    </td>
                                                                    <td>
                                                                        Fire
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => card.FireResistance)
                                                                    </td>
                                                                    <td>
                                                                        Wind
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => card.WindResistance)
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayNameFor(modelItem => card.PhysicalAttack)
                                                                    </td>
                                                                    <td>
                                                                        @card.PhysicalAttack
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayNameFor(modelItem => card.PhysicalDefense)
                                                                    </td>
                                                                    <td>
                                                                        @card.PhysicalDefense
                                                                    </td>
                                                                    <td>
                                                                        Water
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => card.WaterResistance)
                                                                    </td>
                                                                    <td>
                                                                        Light
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => card.LightResistance)
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayNameFor(modelItem => card.MagicAttack)
                                                                    </td>
                                                                    <td>
                                                                        @card.MagicAttack
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayNameFor(modelItem => card.MagicDefense)
                                                                    </td>
                                                                    <td>
                                                                        @card.MagicDefense
                                                                    </td>
                                                                    <td>
                                                                        Thunder
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => card.LightningResistance)
                                                                    </td>
                                                                    <td>
                                                                        Dark
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => card.DarkResistance)
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayNameFor(modelItem => card.Dexterity)
                                                                    </td>
                                                                    <td>
                                                                        @card.Dexterity
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayNameFor(modelItem => card.Luck)
                                                                    </td>
                                                                    <td>
                                                                        @card.Luck
                                                                    </td>
                                                                    <td>
                                                                        Earth
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => card.EarthResistance)
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    @{
                                                        var count = 0;

                                                        @foreach (var skill in card.CardBasicSkills)
                                                        {

                                                            if (count % 2 == 0)
                                                            {
                                                            @:</div>
                                                            @:<div class="row mt-2">
                                                            }
                                                            count++;

                                                            <div class="col-6">
                                                                <table class="table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th colspan="2">
                                                                                @skill.BasicSkill.Name
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td rowspan="2" style="width:30%">
                                                                                <img src="@skill.BasicSkill.ImagePath" class="img-fluid">
                                                                            </td>
                                                                            <td style="width:70%">
                                                                                Charge Time: @skill.BasicSkill.ChargeTime
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width:70%">
                                                                                @skill.BasicSkill.Description
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            @if (count > 2 && card.PassiveSkill != null)
                                                            {
                                                                <div class="col-6">
                                                                    <table class="table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th colspan="2">

                                                                                    @card.PassiveSkill.Name
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td rowspan="2" style="width:30%">
                                                                                    <img src="@card.PassiveSkill.ImagePath" class="img-fluid">
                                                                                </td>
                                                                                <td>
                                                                                    Passive
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    @card.PassiveSkill.Description
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <a class="carousel-control-prev" href="#cardCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#cardCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
