@model IEnumerable<KonoFandom.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Characters</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover" id="index">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterImagePath)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.OrderBy(c => c.CharacterID))
            {
                <tr data-url="@Url.Action("Details", "Characters", new { id = item.CharacterID })">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Biography)
                    </td>
                    <td>
                        <img src=@Html.DisplayFor(modelItem => item.IconImagePath) width="112" height="128">
                    </td>
                    <td>
                        <img src=@Html.DisplayFor(modelItem => item.CharacterImagePath) width="112" />
                    </td>
                    <td data-action="delete">
                        <a asp-action="Delete" asp-route-id="@item.CharacterID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>