@model IEnumerable<KonoFandom.Areas.GameData.Models.DebuffEffect>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Debuff Effects</h1>

<p>
    <a asp-area="GameData" asp-controller="DebuffEffects" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        { 
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-area="GameData" asp-controller="DebuffEffects" asp-action="Edit" asp-route-id="@item.EffectID">Edit</a> |
                        <a asp-area="GameData" asp-controller="DebuffEffects" asp-action="Details" asp-route-id="@item.EffectID">Details</a> |
                        <a asp-area="GameData" asp-controller="DebuffEffects" asp-action="Delete" asp-route-id="@item.EffectID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
