@model IEnumerable<KonoFandom.Models.BasicSkill>

@{
    ViewData["Title"] = "Index";
}

<h1>Basic Skills</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover" id="index">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuffEffectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebuffEffectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr data-url="@Url.Action("Details", "BasicSkills", new { id = item.SkillID })">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuffEffectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DebuffEffectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChargeTime)
                    </td>
                    <td data-action="delete">
                        <a asp-action="Delete" asp-route-id="@item.SkillID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
